
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ALL Films</h2>

@Html.ActionLink("电影列表", "List", "Admin")
<br />
@Html.ActionLink("类别列表", "CateList", "Admin")
<br />
@Html.ActionLink("年份列表", "YearList", "Admin")
<br />
@Html.ActionLink("地区列表", "AreaList", "Admin")
<br />
@Html.ActionLink("评分列表", "RateList", "Admin")
<br />
@Html.ActionLink("语言列表", "LanguageList", "Admin")
<br />
@Html.ActionLink("获取最新年份信息", "GetYear", "Admin")
<br />
@Html.ActionLink("获取最新地区信息", "GetArea", "Admin")
<br />
@Html.ActionLink("获取最新类别信息", "GetCate", "Admin")
<br />
@Html.ActionLink("获取最新语言信息", "GetLanguage", "Admin")




